@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Italiana&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tangerine:wght@400;700&display=swap');

@theme {
  --font-tangerine: "Tangerine", serif;
  --font-playfair: "Playfair Display", serif;
  --font-italiana: "Italiana", serif;
  --font-cormorant: "Cormorant Garamond", serif;
}

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 antialiased;
  }
}
